/* Estilo para los nombres de los jugadores p */
.active-turn1 {
    color: #fe080a; /* Jugador 1 */
    text-decoration: antiquewhite;
    font-weight: bold;
}
.active-turn2 {
    color: #a1fe00; /* Jugador 2 */
    text-decoration: antiquewhite;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #feffd5;
    font-weight: bold;
    font-size: 17px;
    line-height: 10px;
    text-align: center;
    padding: 12px;
/*      margin-bottom: 10px;
    background-color: #221c3c;
    border-left: 4px solid #00aa88;*/
    border-radius: 5px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*background: linear-gradient(to right, #008268, #9f00a2);*/
    color: transparent;
    padding: 5px 0;
    /*border-bottom: 4px solid #00aa88;*/
    border-radius: 5px;
}
.scoreboard {
    width: 25%; 
    margin-left: 2%; 
    padding: 10px;
    box-sizing: border-box;
    margin-top: -30px;
}

.card1 {
    --background: linear-gradient(to left, #f7ba2b 0%, #ff2121 100%);
}
.card2 {
    --background: linear-gradient(to left, #f7ba2b 0%, #3ddc19 100%);
}
.card {
    width: 96%;
    height: 50px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
    margin-top: 30px;
}
.card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 50%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(50px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
}
.card-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;

}
.card .title {
    font-weight: bold;
    letter-spacing: .1em;
    }
/*Hover*/
.card:hover::after {
    opacity: 0;
}
.card:hover .card-info {
    color: #f7ba2b;
    transition: color 1s;
}

.card3 {
    width: 99%;
    height: 70px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 15px;
}
.card3 p {
    z-index: 1;
    font-size: 165%;
    line-height: 100%;
}
.card3::before {
    content: '';
    position: absolute;
    width: 635%;
    background-image: linear-gradient(180deg, #5e0d0d, #ff4fe2);
    height: 635%;
    animation: rotBGimg 2.8s linear infinite;
    transition: all 0.2s linear;
}
@keyframes rotBGimg {
    from {
    transform: rotate(0deg);
    } to {
    transform: rotate(360deg);
    }
}/*
.card3::after {
    content: '';
    position: absolute;
    background: #011c3f;
    inset: 5px;
    border-radius: 15px;
} */ 
.card3:hover:before {
    background-image: linear-gradient(180deg, #00159a, #51ff71);
    animation: rotBGimg 2.8s linear infinite;
}




                            /* DADO */

.container_dado {
    width: 200px;
    height: 200px;
    margin-left: 9%;  
    position: relative;
    perspective: 800px;
    top: -350px;
}

.cube {
    transform: translateY(400px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-face {
    position: absolute; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #feffd5;
    border: #322763 1px solid;
    border-radius: 5%;
}

.front {
    transform: translateZ(100px);
}

.back {
    transform: rotateY(180deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.inside {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
}

.dot {
    height: 25px;
    width: 25px;
    /*background-color: #322763;*/
    background-image: linear-gradient(45deg, #ff00bb, #0f296a);
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.front .inside .dot {
    grid-row: 2;
    grid-column: 2;
}

.back .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.back .inside .dot:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.back .inside .dot:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
}

.back .inside .dot:nth-child(4) {
    grid-row: 3;
    grid-column: 1;
}

.back .inside .dot:nth-child(5) {
    grid-row: 3;
    grid-column: 2;
}

.back .inside .dot:nth-child(6) {
    grid-row: 3;
    grid-column: 3;
}

.left .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 3;
}

.left .inside .dot:nth-child(2) {
    grid-row: 2;
    grid-column: 2;
}

.left .inside .dot:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
}

.right .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.right .inside .dot:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
}

.right .inside .dot:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
}

.right .inside .dot:nth-child(4) {
    grid-row: 3;
    grid-column: 3;
}

.top .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.top .inside .dot:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
}

.top .inside .dot:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
}

.top .inside .dot:nth-child(4) {
    grid-row: 3;
    grid-column: 1;
}

.top .inside .dot:nth-child(5) {
    grid-row: 3;
    grid-column: 3;
}

.bottom .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 3;
}

.bottom .inside .dot:nth-child(2) {
    grid-row: 3;
    grid-column: 1;
}


                            /* TABLERO */

.tablero-container {
    position: absolute;
    top: 30%;
    left: 33%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tablero {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(6, 80px);
    gap: 8px;
}

.casilla {
    /*linear-gradient(to bottom, #a50595, #059d60);
    border: 2px solid #221c3c;*/
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #221c3c;
    text-align: center;
    padding: 10px;
    position: relative; /* Añadido para posicionar las fichas*/
    width: 50px;
    height: 50px;
}

/* Colores de las casillas */
.casilla.inicio {
    /*background: linear-gradient(to top, #2b2256, #6a6198);*/
    background: #2b2256;
    font-weight: bold;
    color: #8ceaff;
    /*border: 5px outset #221c3c;*/
}
.casilla.final {
    /*background: linear-gradient(to top, #ff3d1b, #ffafaf);*/
    background: #ff3d1b;
    font-weight: bold;
    color: #ffd1d1;
    /*border: 5px outset #3c1c1c;*/
}
.casilla.nivel3 {
    /*background: linear-gradient(to top, #049e66, #5ffff4);*/
    background: #4fff1f;
    font-weight: bold;
    /*border: 5px outset #1c3c2e;*/
}
.casilla.nivel2 {
    /*background: linear-gradient(to top, #0d4f97, #a1ceff);*/
    background: #55ffe2;
    font-weight: bold;
    /*border: 5px outset #221c3c;*/
}
.casilla.nivel1 {
    /*background: linear-gradient(to top, #ff20da, #ffaff0);*/
    background: #ff0073;
    font-weight: bold;
    /*border: 5px outset #3c1c38;*/
    color: #55ffe2;
}

/* Para posicionar las fichas en el tablero */
.token {
    width: 20px;
    height: 20px;     
    border-radius: 50%;
    position: absolute; /* Posición absoluta dentro de la casilla */
    transform: translate(-50%, -50%); /* Ajuste de posición al centro */
}
.player1 {
    background-color: red;
    left: 23%; /* Centrado horizontal */
    top: 23%;  /* Centrado vertical */
}
.player2 {
    background-color: #a1fe00;
    left: 77%; /* Centrado horizontal */
    top: 77%;  /* Centrado vertical */
}








